.navbar {
  display: flex;
  background-color: aquamarine;
}

.site-name {
  padding: 5px 30px;
  color: burlywood;
}

.site-menu {
  padding: 10px 30px;
  margin-left: 100px;
}
a {
  text-decoration: none;
  color: darkkhaki;
  margin: 0px 10px;
}
