<div class="wrapper">
  <app-nav></app-nav>
  <!-- <div app-nav></div> -->
  <!-- <div class="app-nav"></div> -->
  <app-header></app-header>
  <app-notification></app-notification>
  <app-search></app-search>
  <app-products></app-products>
</div>
