<!-- <div *ngFor="let item of [1, 3, 5, 17, 20]">
  <p>Number is:{{ item }}</p>
</div> -->

<div *ngFor="let p of products; let i = index">
  <!-- <p>{{ i }}</p> -->
  <div
    class="product-container"
    [ngStyle]="{
      backgroundColor: p.available === 'Available' ? 'lightgreen' : 'lightcoral'
    }"
  >
    <div class="image-container">
      <img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px" />
    </div>
    <div>
      <div class="name-container">
        <h6>{{ p.name }}</h6>
      </div>
      <div class="detailContainer">
        <div
          class="details"
          [ngStyle]="{ color: p.available === 'Available' ? 'green' : 'red' }"
        >
          {{ p.available }}
        </div>
        <div class="details"><b>Price:</b> {{ p.price }}</div>
        <div class="details"><b>Color:</b>{{ p.color }}</div>
      </div>
    </div>
    <div class="options">
      <button class="btn btn-success">Show details</button>
      <button
        *ngIf="p.available === 'Available'; else notifyme"
        class="btn btn-warning"
      >
        Buy now
      </button>
      <ng-template #notifyme>
        <button class="btn btn-danger">Notify me</button>
      </ng-template>
    </div>
  </div>
</div>
