.search-div {
  margin: 10px 20px;
  padding: 10px 20px;
}

input[type="text"] {
  width: 240px;
  height: 30px;
  margin-left: 20px;
  border: none;
}

.changeBackground {
  background-color: orange;
}
